<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li><a [routerLink]="['/']" routerLinkActive="link-dark" class="nav-link px-2 link-secondary">Home</a></li>
    <li><a [routerLink]="['/posts']" routerLinkActive="link-dark" class="nav-link px-2 link-secondary">Postagens</a></li>
    <li><a [routerLink]="['/portifolio']" routerLinkActive="link-dark" class="nav-link px-2 link-secondary">Portifolio</a></li>
    <li><a [routerLink]="['/sobre-mim']" routerLinkActive="link-dark" class="nav-link px-2 link-secondary">Sobre mim</a></li>
    <li><a [routerLink]="['/contato']" routerLinkActive="link-dark" class="nav-link px-2 link-secondary">contato</a></li>
  </ul>
